body{
    background-color: rgba(127, 255, 212, 0.832);
    display:flex; 
    justify-content: center;
    align-items: center;
}
form .entete{
    text-align: center;
    color: brown;
}
form{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(234, 242, 242, 0.851);
    padding: 40px 60px;
    border-radius: 10px;
    min-width:300px; 
    filter: drop-shadow(0 0 0.75rem rgb(137, 135, 136));}
form .inputs{
    display: flex;
    flex-direction: column;
}

form .inputs input[type="email"], input[type="text"], input[type="radio"], input[type="number"], input[type="password"] {
    padding: 15px ;
    border-radius: 5px;
    border: none;
    background-color: rgb(191, 191, 193);
    margin-bottom: 15px;
    outline: none;
}




button{
    display: inline-block;
    background-color: brown;
    border-radius: 10px;
    cursor: pointer;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;   
    font-size: 20px; 
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    margin: 5px;
}
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span::after{
    content:"\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover{
    background-color: rgba(119, 120, 120, 0.966);
}
button:hover span{
    padding-right: 25px;
}
button:hover span::after{
    opacity: 1;
    right: 0;
}
